body {
    margin: 0px;
    -webkit-user-select: none;
    background-color: whitesmoke;
}
.container {
    width: 250px;
    height: 100%; /* 'Deck' scroll area height */
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

.deck {
    width: 100%;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    max-height: 360px;
}

.header { /* this is where the ext name, gear and heart icon sit */
    height: 55px;
    top: 0px;
    background: #fff;
    border-bottom: 1px solid #e3e3e3;
}

.footnote {
    width: 100%;
    height: 55px;
    bottom: 0px;
    color: #959595;
    padding-left: 15px;
    line-height: 57px;
    background: #fff;
    cursor: default;
}

.site { /* each note area */
    margin-top: -1px;
    height: 40px;
    padding: 2px 0 2px 0;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    -webkit-transition-duration: 0.05s;
    position: relative;
    z-index: 1;
    width: 100%;
}

.site:hover {
    background: #fafafa;
}

.site:active {
    background: #eeeeee;
}

.faviconcontainer { /* favicon area */
    float: left;
    width: 20%;
    height: 100%;
}

.logotype { /* extention name text */
    width: 85px;
    margin-top: 21px;
    content:url(../img/notemarklogotype.svg);
    display: inline-block;
    left: 15px;
    position: absolute;
}

.settingsicon {
    width: 2.2em;
    margin-top: 5px;
    padding: 10px;
    position: absolute;
    display: inline-block;
    right: 63px;
    content:url(../img/settings.svg);
    -webkit-filter: grayscale(100%);
    -webkit-transform: rotate(0deg);
    opacity: .55;
}

.settingsicon:hover {
    -webkit-transform:rotate(90deg);
    -webkit-transition-duration: 0.4s;
    -webkit-filter: grayscale(0%);
    opacity: 1;
}

.settingsicon:active {
    -webkit-transform: scale(0.9);
    -webkit-filter: grayscale(100%);
    -webkit-transition-duration: 0s;
}
.hearticon { 
    /* calls directly to svg */
    stroke-width: 1.1;
    fill: none;
    stroke: #DD5E41;
    /* --------------------- */
    width: 2.3em;
    margin-top: 4px;
    padding: 10px;
    position: absolute;
    right: 1px;
    display: inline-block;
    /* content:url(../img/heart.svg); */
    -webkit-transform: translateZ(0) scale(1.0001);
    -webkit-transition: all .07s ease-in;
    opacity: 0.9; 
}

@-webkit-keyframes heartbeat { /* heart hover animation */
    10% { -webkit-transform: translateZ(0) scale(1.0001);}
    60% { -webkit-transform: translateZ(0) scale(1.12);}
}

.hearticon:hover {
   -webkit-animation:heartbeat .35s ease-in-out;
   -webkit-animation-iteration-count: 2;
}

.hearticon:active {
    fill: #a2a7aa; 
    stroke: #a2a7aa;
    -webkit-transform: scale(0.9);
    -webkit-filter: grayscale(100%);
    -webkit-animation:heartbeat 0s; /* cancel heartbeat animation */
}

.hearticon-gray { 
    opacity: 0.6;
    -webkit-filter: grayscale(100%);
    -webkit-transition-duration: 0.0s; 
}

.img {
    display: block;
    margin: 5px 8px;
    width: 25px;
}

.favicon {
    z-index: 2;
    width: 20px;
    margin: 10px;
}

.removebtn {
    /* favicon rollover to remove item */
    width: 30px;
    margin-top: -38px;
    left: 5px;
    position: relative;
    content: url(../img/remove.svg);
    -webkit-transition-duration: 0.05s;
    opacity: 0;
    z-index: 3;
    background-color: whitesmoke;
}

.removebtn:hover {
    opacity: 1;
}

.removenote {
    transition: 0.5s cubic-bezier(0.800, -0.300, 0.500, 1.000); /* custom */
    transform: translate(100%, 0%);
    background: #fafafa;
}

.removenote2 {
   transition: 0.4s;
   height: 0px;
   padding: 0px;
   border: none;
}

.removebtn:active {
    background: #eeeeee;
}

.sitetitle {
    margin-top: 3px;
    display: block;
    left: -10px;
    position: inherit;
    padding: 10px 0px 0px 15px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
    -webkit-transition: all .1s ease-in;
    /* background: green; for referencing click area  */
}