body {
    width: 250px;
    margin: 0px;
    background-color: whitesmoke;
    -webkit-user-select: none;
}

.site {
    height: 40px;
    border-top: 1px solid #e3e3e3;
}

.add {
    float: left;
    width: 20%;
    height: 100%;
}

.img {
    display: block;
    margin: 5px 8px;
    width: 25px;
}

.favicon {
    width: 20px;
    margin: 10px;
}

.sitetitle {
    vertical-align: middle;
    display: inline-block;
    max-width: 190px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 13px;
    cursor: pointer;
    transition: all .1s ease-in;
}

.sitetitle:hover {
    color: #0087f0;
}

.sitetitle:active {
    color: #ccc;
}

.siteoptions {
    border-top: 1px solid #e3e3e3;
    margin-top: 12px;
    display: none;
}

.siteoptionleft, siteoptionright {
   height: 100%;
    width: 50%; 
}

.siteoptionleft {
    float: left;
}

.siteoptionright {
   float: right; 
}

.options, .more {
    height: 50px;
}

.optionsbtn {
    vertical-align: middle;
    display: table-cell;
    height: inherit;
}

.more {
    border-top: 1px solid #76A8F1;
    text-align: center;
    vertical-align: middle;
    width: 250px;
    display: none;
}

.icon { 
  width: 25px;
  height: 25px;
  margin-top: 12px;
  position: absolute;
  right: 11px;
  display: inline-block;
  content:url(../img/heart.svg);
  transition-duration: 0.3s;
  cursor: pointer;
  webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0);
}

.icon:hover {
    transform: scale(1.12);
    transition-duration: 0s;
}

.icon:active {
    transform: scale(0.95);
}

.icon-gray { 
  opacity: 0.4;
  filter: alpha(opacity=35);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition-duration: 0.0s; 
}
