body {
    margin: 0px;
    -webkit-user-select: none;
    background-color: whitesmoke;
}

/* css easing tool
based on Penner's easing equations:
http://matthewlein.com/ceaser/  
*/

.container {
    width: 250px;
    height: 100%; /* 'Deck' scroll area height */
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

.deck {
    width: 100%;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    max-height: 351px;
}

.header { /* this is where the ext name, gear and heart icon sit */
    height: 55px;
    top: 0px;
    background: #fff;
    border-bottom: 2px solid #DF705A;
}

.footnote {
    width: 100%;
    height: 55px;
    bottom: 0px;
    color: #959595;
    padding-left: 15px;
    line-height: 57px;
    background: #fff;
    cursor: default;
    border-top: 1px solid #e3e3e3;
}

.site { /* each note area */
    height: 40px;
    padding: 2px 0 2px 0;
    border-top: 1px solid #e3e3e3;
    position: relative;
    z-index: 1;
    width: 100%;
}

.site:hover {
    background: #fafafa;
}

.site:active {
    background: #eeeeee;
}

.faviconcontainer { /* favicon area */
    float: left;
    width: 20%;
    height: 100%;
}

.logotype { /* extention name text */
    width: 85px;
    margin-top: 21px;
    content: url(../img/notemarklogotype.svg);
    display: inline-block;
    left: 15px;
    position: absolute;
}

.settingsicon {
    width: 2.2em;
    margin-top: 5px;
    padding: 10px;
    position: absolute;
    right: 63px;
    content:url(../img/settings.svg);
    -webkit-filter: grayscale(100%);
    -webkit-transform: rotate(0deg);
    opacity: .55;
}

.settingsicon:hover {
    -webkit-transform: rotate(90deg);
    -webkit-transition-duration: 0.4s;
    -webkit-filter: grayscale(0%);
    opacity: 1;
}

.settingsicon:active {
    -webkit-transform: scale(0.9);
    -webkit-filter: grayscale(100%);
    -webkit-transition-duration: 0s;
}
.heart { 
    /* calls directly to svg */
    stroke-width: 1.1;
    stroke: #a3a09d;
    fill: none;
    /* --------------------- */
    width: 2.3em;
    margin-top: 4px;
    padding: 10px;
    position: absolute;
    right: 1px;
    display: inline-block;
    /* content:url(../img/heart.svg); */
    -webkit-transform: translateZ(0) scale(1.0001);
    -webkit-transition: all .07s ease-in;
}

@-webkit-keyframes heartbeat { /* heart hover animation */
    10% { -webkit-transform: translateZ(0) scale(1.0001);}
    60% { -webkit-transform: translateZ(0) scale(1.12);}
}

.heart:hover {
   stroke: #e5694d;
   -webkit-animation:heartbeat .35s ease-in-out;
   -webkit-animation-iteration-count: 2;
}

.heart:active {
    fill: #a3a09d; 
    stroke: none;
    opacity: 0.7;
    -webkit-transform: scale(0.95);
    -webkit-filter: grayscale(100%);
    -webkit-animation: heartbeat 0s; /* cancel heartbeat animation */
}

.heart-red {
    stroke: none;
    fill: #e5694d;
    opacity: 0.8;
}

.img {
    display: block;
    margin: 5px 8px;
    width: 25px;
}

.settings {
    position: relative;
    height: 131px;
    background: white;
    width: 100%;
    display: none;
    border-bottom: 1px solid #e3e3e3;
}

.settingscontainer {
    margin: 0px auto;
    padding: 8px 10px;
}

.option {
    height: 30px;
    width: 224px;
    margin-top: 5px;
    line-height:30px;
    cursor: default;
    border: 1px solid white;
    border-radius: 2px;
}

.option:hover {
    background-color: rgba(253, 253, 253, 1);
    border: 1px solid rgba(219, 221, 222, 1);
}
.option:active {
    background-color: rgba(245, 245, 245, 1);
    border: 1px solid rgba(219, 221, 222, 1);
}

.optiontext {
    position: relative;
    left: 42px;
}

.checkboxicon {
    width: 17px;
    height: 17px;
    display: block;
    background: url(../img/checkbox_ico.svg) no-repeat;
    background-position: 0 -23px; /*position bg, 0 0px is off*/
    position: absolute;
    margin-top: 6px;
    left: 16px;
}

.checkboxicon:active {
    background-position: 0 0px;
}


.hearticon {
    content: url(../img/heart_ico_settings.svg);
    position: absolute;
    width: 17px;
    height: 17px;
    left: 16px;
    margin-top: 6px;
}

.opennotesicon {
    content: url(../img/open_allnotes_ico.svg);
    position: absolute;
    width: 15px;
    height: 15px;
    left: 16px;
    margin-top: 7px;
}

.favicon {
    z-index: 2;
    width: 20px;
    margin: 10px;
}

.removebtn {
    /* favicon rollover to remove item */
    width: 30px;
    margin-top: -38px;
    left: 5px;
    position: relative;
    content: url(../img/remove.svg);
    -webkit-transition-duration: 0.05s;
    opacity: 0;
    z-index: 3;
    background-color: whitesmoke;
    transition-duration: 0.2s;
}

.removebtn:hover {
    opacity: 1;
}

.removenote {
    transition: 0.5s cubic-bezier(0.800, -0.300, 0.500, 1.000); /* custom */
    transform: translate(100%, 0%);
    background: #fafafa;
}

.removenote2 {
   transition: 0.3s cubic-bezier(0.075, 0.820, 0.165, 1.000); /* easeOutCirc */;
   height: 0px;
   padding: 0px;
   border: none;
}

.removebtn:active {
    background: #eeeeee;
}

.sitetitle {
    margin-top: 3px;
    display: block;
    left: -10px;
    position: inherit;
    padding: 10px 0px 0px 15px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: all .1s ease-in;
    cursor: default;
    /* background: green; for referencing click area  */
}