body {
    margin: 0;
}

main {
    width: 250px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

header { /* this is where the ext name, gear and heart icon sit */
    height: 50px;
    background: #fff;
    border-bottom: 2px solid #ff646c;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#logo {
    content: url(../img/notemarklogotype.svg);
    position: sticky;
    left: 14px;
}

#icons {
    display: flex;
    align-items: center;
}

#settingsIcon {
    width: 2.2em;
    right: 30px;
    content: url(../img/settings.svg);
    opacity: .55;
    cursor: pointer;
    position: relative;
}

#settingsIcon:hover {
    opacity: 1;
}

@keyframes settingsIcon {
    to {
        transform: rotate(90deg);
        transition-duration: 0.4s;
        filter: grayscale(0%);
        opacity: 1;
    }
}

#addNoteButton {
    /* calls directly to svg */
    stroke-width: 1.1;
    stroke: #a3a09d;
    fill: none;
    width: 2.3em;
    transform: translateZ(0) scale(1.0001);
    transition: all .07s ease-in;
    cursor: pointer;
    position: sticky;
    right: 10px;
}

#addNoteButton:hover {
   stroke: #ff646c;
   animation:heartbeat .35s ease-in-out;
   animation-iteration-count: 2;
}

#addNoteButton:active {
    fill: #a3a09d;
    stroke: none;
    opacity: 0.7;
    transform: scale(0.95);
    filter: grayscale(100%);
    animation: heartbeat 0s; /* cancel heartbeat animation */
}

@keyframes heartbeat { /* heart hover animation */
    10% {
        transform: translateZ(0) scale(1.0001);
    }
    60% {
        transform: translateZ(0) scale(1.12);
    }
}

.heart-red {
    stroke: none !important;
    fill: #ff646c !important;
    transform: translateZ(0) scale(1.0001) !important;
}

#settingsContainer {
    height: 135px;
    background: white;
    border-bottom: 1px solid #e3e3e3;
    margin: 0 auto;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.option {
    height: 30px;
    width: 225px;
    margin: 2px 0;
    padding: 2px 0;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.option:hover {
    background-color: rgba(253, 253, 253, 1);
    border: 1px solid rgba(219, 221, 222, 1);
}

.option:active {
    background-color: rgba(245, 245, 245, 1);
    border: 1px solid rgba(219, 221, 222, 1);
}

.option > span {
    position: sticky;
    left: 45px;
}

#checkboxIcon {
    width: 17px;
    height: 17px;
    display: block;
    background: url(../img/checkbox_ico.svg) no-repeat;
    background-position: 0 -23px; /*position bg, 0 0px is off*/
    position: absolute;
    left: 16px;
}

#checkboxIcon:active {
    background-position: 0 0;
}

#heartIcon {
    content: url(../img/heart_ico_settings.svg);
    position: absolute;
    width: 17px;
    height: 17px;
    left: 16px;
}

#openNotesIcon {
    content: url(../img/open_allnotes_ico.svg);
    position: absolute;
    width: 15px;
    height: 15px;
    left: 16px;
}

#deck {
    width: 100%;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    max-height: 351px;
    min-height: 42px;
}

.site { /* each note area */
    height: 40px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    background: whitesmoke;
    position: relative;
}

.site:hover {
    background: #fafafa;
}

.site:active {
    background: #eeeeee;
}

.favicon {
    z-index: 2;
    width: 24px;
    margin: 0 8px;
    border: 1px solid transparent;
    position: relative;
}

.favicon:hover {
    content: url(../img/remove.svg);
    opacity: 1;
    cursor: pointer;
    z-index: 3;
    position: relative;
    background-color: #ff6169;
}

.siteTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: all .1s ease-in;
    flex-grow: 1;
    cursor: pointer;
}

@keyframes removeNote2 {
    0% {
        height: 40px;
    }
    50% {
        height: 20px;
    }
    100% {
        height: 0px;
    }
}

@keyframes addNote {
    from {
        margin-top: -42px;
    }
    to {
        margin-top: 0px;
    }
}

.addNote {
    animation: addNote 0.5s 1;
}

.removeNote {
    transition: 0.5s cubic-bezier(0.800, -0.300, 0.500, 1.000); /* custom */
    transform: translate(100%, 0%);
    background: #fafafa;
}

.removeNote2 {
    margin-left: 100%;
    animation: removeNote2 0.2s 1;
}

#howTo {
    height: 40px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    bottom: 0px;
    opacity: 1;
}

#howTo > span {
    padding-left: 15px;
    color: #959595;
}

footer {
    height: 45px;
    color: #959595;
    padding-left: 15px;
    background: #fff;
    cursor: default;
    border-top: 1px solid #e3e3e3;
    display: flex;
    align-items: center;
}