body {
    width: 230px;
    margin: 0px;
    background-color: whitesmoke;
}

.options, .more {
    height: 35px;
}

.site {
    height: 40px;
    border-top: 1px solid #76A8F1;
}

.more {
    border-top: 1px solid #76A8F1;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 230px;
    display: none;
}

.add {
    float: left;
    width: 20%;
    height: 100%;
}

.img {
    display: block;
    margin: 5px 8px;
    width: 25px;
}

.optionsbtn {
    vertical-align: middle;
    display: table-cell;
    height: inherit;
    padding-left: 130px;
}

.sitetitle {
    vertical-align: middle;
    display: block;
    width: 160px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 13px;
}

.favicon {
    width: 20px;
    margin: 10px;
}

.icon { 
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url(../img/heart.svg) no-repeat 50% 50%; 
  background-size: cover;
  margin: 3px 0px 0px 5px;
  transition-duration: 0.3s;
}

.icon-gray { 
  -webkit-filter: grayscale(100%) brightness(500%) brightness(70%);
  filter: grayscale(100%) brightness(500%) brightness(70%);
  transition-duration: 0.3s;
}